<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Vue 3 Components</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet"
    href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.css">
  <script src="app.js" defer></script>
</head>

<body class="bg-gray-50 text-gray-800">
  <div id="app" class="p-8 w-3/4 mx-auto">
    <div class="mb-4">
      <add-task-input @added="taskAdded"></add-task-input>
      <base-checkbox
        class="my-4 p-4 text-gray-600 text-sm font-weight-100"
        v-model="onlyPending"><b>Only pending tasks</b>
      </base-checkbox>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <todo-list-item v-for="task in displayedTasks"
        :task="task" :key="task.id" v-model:done="task.done"
        v-model:priority="task.priority">
      </todo-list-item>
    </div>
  </div>
</body>

</html>